@import "../styles/variables.scss";

$border-radius: 36px;

.form {
  display: flex;
  flex-direction: column;
  width: 100%;
  .field {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 25px;

    label {
      margin-bottom: 5px;
      color: $text-color;
    }

    input,
    textarea {
      border: 0;
      background-color: $context-color;
      padding: 16px $border-radius;
      font-size: 18px;
      width: 100%;
      border-radius: $border-radius;
      color: $text-color;
      outline: none;
      font-family: sans-serif;

      &::placeholder {
        color: $text-color-light;
      }
    }

    textarea {
      overflow-y: auto;
      resize: none;
      height: 250px;
    }
  }

  .submit-btn {
    background-color: $main-color;
    color: $second-color;
    font-size: 24px;
    padding: 15px 25px;
    border-radius: 36px;
    border: 0;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      opacity: 0.8;
    }
  }
}

.errors {
  display: flex;
  flex-direction: column;
  .error {
    color: red;
    margin-top: 5px;
  }
}
