$success-color: #b7d8b7;
$error-color: #f8b7bd;
$warn-color: #ffe399;

#ys-toasts {
  display: flex;
  flex-direction: column;
  z-index: -1;
  position: fixed;
  top: 30px;
  right: 30px;
  max-width: 350px;
  width: 100%;
  overflow: hidden;
}

.ys-toast {
  // display: none;
  display: flex;
  opacity: 0;
  align-items: center;
  padding: 15px 20px;
  box-sizing: border-box;
  border-radius: 4px;
  width: 100%;
  margin-bottom: 10px;

  -webkit-animation-fill-mode: forwards;
  /* Chrome 16+, Safari 4+ */
  -moz-animation-fill-mode: forwards;
  /* FF 5+ */
  -o-animation-fill-mode: forwards;
  /* Not implemented yet */
  -ms-animation-fill-mode: forwards;
  /* IE 10+ */
  animation-fill-mode: forwards;

  .toast-icon {
    margin-right: 10px;
    font-size: 24px;
  }

  .toast-content {
    width: 100%;
    display: flex;
    flex-direction: column;

    .header {
      position: relative;
      width: 100%;

      .toast-title {
        text-align: center;
        font-weight: bold;
        font-size: 16px;
      }

      .close-toast-btn {
        position: absolute;
        top: 5px;
        right: 0;
        font-size: 12px;
        cursor: pointer;
      }
    }

    .toast-message {
      width: 100%;
      margin: 0;
      font-size: 14px;
    }
  }
}

$toast-anim-duration: 0.6;

.toast-success {
  background-color: $success-color;
  animation-name: toast-init;
  animation-duration: $toast-anim-duration + s;
}

.toast-error {
  background-color: $error-color;
  animation-name: toast-init;
  animation-duration: $toast-anim-duration + s;
}

.toast-warn {
  background-color: $warn-color;
  animation-name: toast-init;
  animation-duration: $toast-anim-duration + s;
}

@keyframes toast-init {
  0% {
    // opacity: 0;
  }

  100% {
    opacity: 1;
    z-index: 100000;
  }
}

@keyframes toast-close {
  0% {
    opacity: 1;
    z-index: 100000;
    height: auto;
  }

  50% {
    overflow: hidden;
    height: 50px;
  }

  100% {
    height: 0;
    opacity: 0;
    z-index: -1;
  }
}
