<div class="wrapper">
  <h1 class="title">Login</h1>

  <form [formGroup]="authForm" class="form">
    <!-- Email Field -->
    <div class="field">
      <label for="email">Email or login:</label>
      <input
        (focus)="resetErrors()"
        formControlName="email"
        type="email"
        placeholder="Enter email or login"
      />
      <ng-container *ngIf="authForm.controls.email.errors && errorsTrigger">
        <div
          class="errors"
          *ngFor="
            let error of commonService.getKeysFromObject(
              authForm.controls.email.errors
            )
          "
        >
          <span class="error">
            {{ commonService.getErrorMessage(error) }}
          </span>
        </div>
      </ng-container>
    </div>

    <!-- Password Field -->
    <div class="field">
      <label for="password">Password:</label>
      <input
        (focus)="resetErrors()"
        formControlName="password"
        type="password"
        autocomplete="password"
        placeholder="Enter password"
      />
      <ng-container *ngIf="authForm.controls.password.errors && errorsTrigger">
        <div
          class="errors"
          *ngFor="
            let error of commonService.getKeysFromObject(
              authForm.controls.password.errors
            )
          "
        >
          <span class="error">
            {{ commonService.getErrorMessage(error) }}
          </span>
        </div>
      </ng-container>
    </div>

    <div *ngIf="serverError && errorsTrigger" class="errors server-errors">
      <span class="error">
        {{ commonService.getErrorMessage(serverError) }}
      </span>
    </div>

    <button (click)="auth()" type="submit" class="submit-btn">Login</button>
  </form>
</div>
