@import "../../styles/variables.scss";
@import "../../styles/form.scss";

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $second-color;
  padding: 30px 50px;
  width: 100%;
  max-width: 550px;
  border-radius: $border-radius;

  .title {
    color: $main-color;
    margin: 0 0 20px;
  }

  .server-errors {
    text-align: center;
    margin-bottom: 10px;
  }
}
