<div class="wrapper">
  <h1 class="title">Registration</h1>

  <form [formGroup]="registerForm" class="form">
    <!-- Name Field -->
    <div class="field">
      <label for="name">Name:</label>
      <input
        (focus)="errorsTrigger = false"
        formControlName="name"
        type="text"
        placeholder="Enter name"
      />
      <ng-container *ngIf="registerForm.controls.name.errors && errorsTrigger">
        <div
          class="errors"
          *ngFor="
            let error of commonService.getKeysFromObject(
              registerForm.controls.name.errors
            )
          "
        >
          <span class="error">
            {{ commonService.getErrorMessage(error) }}
          </span>
        </div>
      </ng-container>
    </div>

    <!-- Email Field -->
    <div class="field">
      <label for="email">Email:</label>
      <input
        (focus)="errorsTrigger = false"
        formControlName="email"
        type="email"
        placeholder="Enter email"
      />
      <ng-container *ngIf="registerForm.controls.email.errors && errorsTrigger">
        <div
          class="errors"
          *ngFor="
            let error of commonService.getKeysFromObject(
              registerForm.controls.email.errors
            )
          "
        >
          <span class="error">
            {{ commonService.getErrorMessage(error) }}
          </span>
        </div>
      </ng-container>
    </div>

    <!-- Password Field -->
    <div class="field">
      <label for="password">Password:</label>
      <input
        (focus)="errorsTrigger = false"
        formControlName="password"
        type="password"
        autocomplete="new-password"
        placeholder="Enter password"
      />
      <ng-container
        *ngIf="registerForm.controls.password.errors && errorsTrigger"
      >
        <div
          class="errors"
          *ngFor="
            let error of commonService.getKeysFromObject(
              registerForm.controls.password.errors
            )
          "
        >
          <span class="error">
            {{ commonService.getErrorMessage(error) }}
          </span>
        </div>
      </ng-container>
    </div>

    <!-- Repeat password Field -->
    <div class="field">
      <label for="password">Repeat password:</label>
      <input
        (focus)="errorsTrigger = false"
        formControlName="repeatPassword"
        type="password"
        placeholder="Repeat password"
      />
      <ng-container
        *ngIf="registerForm.controls.repeatPassword.errors && errorsTrigger"
      >
        <div
          class="errors"
          *ngFor="
            let error of commonService.getKeysFromObject(
              registerForm.controls.repeatPassword.errors
            )
          "
        >
          <span class="error">
            {{ commonService.getErrorMessage(error) }}
          </span>
        </div>
      </ng-container>
    </div>

    <!-- Form errors -->
    <ng-container *ngIf="registerForm.errors && errorsTrigger">
      <div
        class="errors"
        *ngFor="
          let error of commonService.getKeysFromObject(registerForm.errors)
        "
      >
        <span class="error">
          {{ commonService.getErrorMessage(error) }}
        </span>
      </div>
    </ng-container>

    <div *ngIf="serverError && errorsTrigger" class="errors">
      <span class="error">
        {{ commonService.getErrorMessage(serverError) }}
      </span>
    </div>

    <button (click)="register()" type="submit" class="submit-btn">
      Register
    </button>
  </form>
</div>
