@import "../../styles/variables.scss";

$border-radius: 36px;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $second-color;
  padding: 15px 0;
  width: 100%;
  max-width: 750px;
  border-radius: $border-radius;
  height: 100vh;

  .title {
    color: $main-color;
    margin: 0 0 15px;
  }

  .list-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;

    .loader {
      color: $main-color;
      font-size: 36px !important;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .list {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      overflow-y: auto;
      max-height: calc(100vh - 140px);
      padding: 0 15px;
      border-bottom: 1px solid $main-color;

      .item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 15px;
        border: 2px solid $context-color;
        border-radius: 10px;
        margin-bottom: 10px;
        transition: all 0.5s;
        cursor: pointer;

        .identity {
          font-weight: bolder;
          color: $main-color;
          margin-right: 10px;
        }

        .subject {
          width: 100%;
          white-space: nowrap;
          padding: 0 20px;
          text-overflow: ellipsis;
          overflow: hidden;
          text-align: center;
        }

        .column-info {
          display: flex;
          flex-direction: column;
          text-align: center;

          hr {
            width: 100%;
            margin: 0;
          }
        }

        .view-btn {
          display: flex;
          align-items: center;
          justify-content: center;
          border: 0;
          height: 35px;
          width: 35px;
          border-radius: 5px;
          flex: 0 0 auto;
          font-size: 18px;
          cursor: pointer;
        }

        .active-view {
          background-color: $main-color;
          color: $second-color;
          border: 1px solid $second-color;
        }

        &:hover {
          background-color: $main-color;
          color: $second-color;

          .identity {
            color: $second-color;
          }
        }
      }
    }

    .pagination {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      margin-top: auto;
      padding: 15px 0 0;

      .page-btn {
        margin: 0 5px 10px;
        padding: 10px 15px;
        background-color: $second-color;
        border: 2px solid $main-color;
        color: $main-color;
        font-weight: bolder;
        border-radius: 16px;
        font-size: 18px;
        cursor: pointer;
        transition: all 0.5s;

        &:hover {
          background-color: $main-color;
          color: $second-color;
        }
      }

      .active-page {
        background-color: $main-color;
        color: $second-color;
      }
    }
  }
}

:host::ng-deep {
  .feedback-block {
    height: 100%;
    padding: 15px;

    .info-group {
      width: 100%;
      padding-bottom: 20px;
      border-bottom: 1px solid $main-color;

      .info-line {
        background-color: $context-color;
        padding: 10px 15px;

        label {
        }

        .value {
          font-weight: bolder;
        }

        .btn-value {
          padding: 10px 15px;
          background-color: $main-color;
          color: $second-color;
          border: 0;
          border-radius: 16px;
          margin: 0 15px;
          cursor: pointer;
          transition: all 0.5;

          &:hover {
            opacity: 0.8;
          }
        }

        &:nth-child(2n + 2) {
          background-color: $second-color;
        }
      }
    }

    .subject {
      text-align: center;
    }
  }
}
