<div class="wrapper">
  <h2 class="title">Feedbacks list</h2>

  <div class="list-block">
    <div *ngIf="isLoad" class="loader">
      <i class="pi pi-spin pi-spinner" style="font-size: 8rem"></i>
    </div>

    <div *ngIf="!isLoad" class="list">
      <div
        (click)="selectFeedback(feedback)"
        *ngFor="let feedback of feedbacks"
        class="item"
      >
        <!-- <span class="identity">{{ feedback.id }}</span> -->
        <div class="column-info">
          <span class="field">{{
            feedback.date_create | date: "dd.MM.yyyy"
          }}</span>
          <hr />
          <span class="field">{{ feedback.date_create | date: "HH:mm" }}</span>
        </div>
        <span class="subject">{{ feedback.subject }}</span>

        <button
          (click)="toggleViewFeedback(feedback, $event)"
          class="btn view-btn"
          [class.active-view]="feedback.is_viewed"
        >
          <i [class]="feedback.is_viewed ? 'pi pi-eye' : 'pi pi-eye-slash'"></i>
        </button>
      </div>
    </div>
    <div class="pagination">
      <button
        (click)="getFeedbacksByPage(page + 1)"
        *ngFor="let page of getTotalPages()"
        class="btn page-btn"
        [class.active-page]="currentPage == page + 1"
      >
        {{ page + 1 }}
      </button>
    </div>
  </div>
</div>

<ys-modal
  class="order-modal"
  [header]="(activeFeedback && activeFeedback.subject) || 'Title'"
  [(visible)]="isShowFeedbackInfo"
>
  <div *ngIf="activeFeedback" class="feedback-block">
    <div class="user-block">
      <div class="info-group">
        <div class="info-line">
          <label>User name: </label>
          <span class="value">{{ activeFeedback.user?.name }}</span>
        </div>
        <div class="info-line">
          <label>User email: </label>
          <span class="value">{{ activeFeedback.user?.email }}</span>
        </div>
        <div class="info-line">
          <label>Date create: </label>
          <span class="value">{{
            activeFeedback.date_create | date: "dd.MM.yyyy, HH:mm"
          }}</span>
        </div>
        <div *ngIf="activeFeedback.file_link" class="info-line">
          <label>File: </label>
          <a
            [href]="getLinkForDownload(activeFeedback.file_link)"
            class="value btn-value"
            target="_blank"
            download="feedback_21.py"
          >
            Download
          </a>
          <!-- <button
            (click)="downloadFileFromLink(activeFeedback.file_link)"
            class="value btn-value"
          >
            Download
          </button> -->
        </div>
      </div>

      <h3 class="subject">{{ activeFeedback.subject }}</h3>
      <div class="message">
        <span>{{ activeFeedback.message }}</span>
      </div>
    </div>
  </div>
</ys-modal>
