@import "../../styles/variables.scss";
@import "../../styles/form.scss";
@import "../../styles/ys-toast.scss";

$border-radius: 36px;

:host {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $second-color;
  padding: 30px 50px;
  width: 100%;
  max-width: 650px;
  border-radius: $border-radius;

  .title {
    color: $main-color;
    margin: 0 0 20px;
  }

  .upload-block {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: $context-color;
    margin-bottom: 30px;
    border-radius: 16px;
    color: $text-color;

    .upload-btn {
      display: flex;
      justify-content: center;
      background-color: $main-color;
      color: $second-color;
      padding: 15px;
      border-radius: 16px;
      max-width: 150px;
      margin-right: 15px;
      flex: 0 0 auto;

      input[type="file"] {
        display: none;
      }
    }

    .file-name {
      width: 100%;
      white-space: nowrap;
      padding: 0 20px;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }

  .remaining-error {
    text-align: center;
    margin-bottom: 10px;
  }
}

.restore {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  .date {
    margin-bottom: 5px;
    color: $second-color;
    font-weight: bolder;
  }

  .btn {
    border: 0;
    background-color: $second-color;
    padding: 10px 15px;
    border-radius: 16px;
    color: $main-color;
    font-weight: bolder;
    cursor: pointer;
    transition: all 0.5s;

    &:hover {
      filter: saturate(2);
    }
  }
}
