<div class="wrapper">
  <h1 class="title">Feedback Test</h1>

  <form [formGroup]="feedbackForm" class="form">
    <!-- SUbject Field -->
    <div class="field">
      <label for="subject">Subject:</label>
      <input
        (focus)="resetErrorsForm()"
        formControlName="subject"
        type="text"
        placeholder="Enter Subject"
      />
      <ng-container
        *ngIf="feedbackForm.controls.subject.errors && errorsTrigger"
      >
        <div
          class="errors"
          *ngFor="
            let error of commonService.getKeysFromObject(
              feedbackForm.controls.subject.errors
            )
          "
        >
          <span class="error">
            {{ commonService.getErrorMessage(error) }}
          </span>
        </div>
      </ng-container>
    </div>

    <!-- Message Field -->
    <div class="field">
      <label for="message">Message:</label>
      <textarea
        (focus)="resetErrorsForm()"
        formControlName="message"
        placeholder="Enter Message"
      ></textarea>
      <ng-container
        *ngIf="feedbackForm.controls.message.errors && errorsTrigger"
      >
        <div
          class="errors"
          *ngFor="
            let error of commonService.getKeysFromObject(
              feedbackForm.controls.message.errors
            )
          "
        >
          <span class="error">
            {{ commonService.getErrorMessage(error) }}
          </span>
        </div>
      </ng-container>
    </div>

    <div class="upload-block">
      <label class="upload-btn">
        Choose file
        <input type="file" (change)="uploadFile($event)" />
      </label>
      <span class="file-name">{{
        feedbackForm.controls.fileData.value?.name || "Not file"
      }}</span>
    </div>

    <div *ngIf="remainingTimeError" class="errors remaining-error">
      <span class="error"
        >Remaining time to next request is
        <b>{{ getFormatedTime(remainingTimeError) }}</b></span
      >
    </div>

    <button (click)="sendFeedback()" type="submit" class="submit-btn">
      Submit
    </button>
  </form>
</div>

<div *ngIf="authService.user" class="restore">
  <button (click)="resetTimeLimit()" class="btn">Reset time limit</button>
</div>
