$primary-color: #4caf50;
$main-color: #bdbdbd;
$hover-color: rgba(0, 26, 65, 0.6);
$context-color: #f2f3f4;
$primary-light: rgba($primary-color, 0.5);
$modal-bg: rgba(black, 0.4);
$media-max: 650px;

@mixin ys-scroll-v($height) {
  overflow: hidden;
  overflow-y: auto;
  max-height: $height;

  &::-webkit-scrollbar-track {
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    //border: 1px solid $main-color;
    background-color: #f5f5f5;
  }

  &::-webkit-scrollbar {
    width: 5px;
    background-color: $main-color;
    padding: 2px;
    box-sizing: border-box;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 3px;
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: $main-color;

    &:hover {
      background-color: $hover-color;
    }
  }
}
