@import "./settings.scss";

.ys-modal {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;

  .modal-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: $context-color;
    // border-radius: 16px;
    // max-width: $max-width-content;
    overflow: hidden;
    max-width: 600px;
    min-height: 70vh;

    .modal-header {
      display: flex;
      align-items: center;
      border-bottom: 1px solid $primary-light;
      padding: 15px 20px;
      background-color: $primary-color;
      color: white;

      .modal-title {
        font-size: 16px;
        text-transform: uppercase;
      }

      .icon-close {
        margin-left: auto;
        font-size: 24px;
        font-family: sans-serif;
        cursor: pointer;
      }
    }

    .modal-content {
      @include ys-scroll-v(calc(100vh - 60px));
      display: flex;
      flex-direction: column;
      height: 100%;
      padding: 10px;
    }
  }

  .loader-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    max-width: 300px;
    height: auto;

    .modal-content {
      display: flex;
      align-items: center;
      justify-content: center;

      .loader {
        display: flex;
        align-items: center;
        justify-content: center;

        ion-spinner {
          color: $primary-color;
        }

        .label {
          margin-left: 10px;
          color: $primary-color;
        }
      }
    }
  }

  .modal-bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: $modal-bg;
  }

  @media (min-width: $media-max) {
    .modal-wrapper {
      height: auto;
      border-radius: 16px;
    }

    .modal-content {
      // overflow: visible !important;
      padding: 10px 10px 30px !important;
    }
  }
}
