<div *ngIf="visible" class="ys-modal">
  <div
    (click)="closableModal ? hideModal($event) : null"
    class="modal-bg"
  ></div>

  <div class="modal-wrapper" [class.loader-wrapper]="isLoader">
    <div *ngIf="!isLoader" class="modal-header">
      <span class="modal-title">{{ headerTitle }}</span>
      <span (click)="hideModal()" class="icon-close">x</span>
    </div>
    <div class="modal-content">
      <div *ngIf="isLoader" class="loader">
        <!-- <ion-spinner></ion-spinner> -->
        <span class="label">Please wait ...</span>
      </div>
      <ng-content></ng-content>
    </div>
  </div>
</div>
