@import "../../styles/variables.scss";

$border-radius: 36px;

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $second-color;
  padding: 30px 50px;
  width: 100%;
  max-width: 650px;
  border-radius: $border-radius;
  min-height: 50vh;

  .title {
    color: $main-color;
    margin: 0 0 30px;
  }

  .message {
    text-align: center;
    font-size: 20px;
  }

  .btn {
    margin-top: 30px;
    border: 0;
    background-color: $main-color;
    padding: 15px 30px;
    color: white;
    font-size: 18px;
    border-radius: 16px;
    cursor: pointer;

    &:hover {
      opacity: 0.8;
    }
  }
}
