<div *ngIf="activeMessage" class="wrapper">
  <h1 class="title">{{ activeMessage.title }}</h1>

  <span class="message">{{ activeMessage.message }}</span>

  <button
    *ngIf="activeMessage.action"
    (click)="activeMessage.action()"
    class="btn"
  >
    {{ activeMessage.actionLabel || "Submit" }}
  </button>
</div>
