<div class="wrapper">
  <header>
    <div class="left-nav">
      <button
        *ngIf="authService.user && authService.user.role == 'client'"
        [routerLink]="['feedback']"
        class="btn"
      >
        To Feedback
      </button>
      <button
        *ngIf="authService.user && authService.user.role == 'admin'"
        [routerLink]="['feedbacks-list']"
        class="btn"
      >
        To feedback list
      </button>
    </div>
    <div *ngIf="authService.user" class="user">
      <span
        [ngStyle]="authService.user.role == 'admin' ? { color: 'red' } : {}"
        class="name"
        >{{ authService.user.name }}</span
      >
      <figure class="avatar">
        <img src="../assets/avatar.jpg" alt="" />
      </figure>
    </div>
    <button *ngIf="authService.user" (click)="authService.logout()" class="btn">
      Log out
    </button>

    <button *ngIf="!authService.user" [routerLink]="['/register']" class="btn">
      Register
    </button>
    <button *ngIf="!authService.user" [routerLink]="['/auth']" class="btn">
      Login
    </button>
  </header>
  <!-- <div class="content"> -->
  <router-outlet></router-outlet>
  <!-- </div> -->
</div>
