@import "./styles/variables.scss";

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: $main-color;
  header {
    display: flex;
    justify-content: right;
    position: absolute;
    width: 100%;
    padding: 15px;
    top: 0;
    left: 0;

    .left-nav {
      margin-right: auto;
    }

    .user {
      display: flex;
      align-items: center;
      background-color: $second-color;
      border-radius: 24px;
      padding: 5px 5px 5px 15px;

      .name {
        margin-right: 10px;
        color: $main-color;
        font-weight: bolder;
        font-size: 16px;
      }

      .avatar {
        border-radius: 20px;
        width: 40px;
        height: 40px;
        overflow: hidden;
        flex: 0 0 auto;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    .btn {
      border: 1px solid $second-color;
      border-radius: 16px;
      padding: 10px 15px;
      margin: 0 10px;
      background-color: $main-color;
      color: $second-color;
      transition: all 0.5s;
      cursor: pointer;

      &:hover {
        background-color: $second-color;
        color: $main-color;
      }
    }
  }

  // .content {
  //   display: flex;
  //   width: 100%;
  //   height: 100%;
  // }
}
