@import "./app/styles/variables.scss";
@import "./app/styles/ys-toast.scss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 16px;
}

figure {
  margin: 0;
}
